<app-card-slider title="Appetizers">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Soups and Salads">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Breads">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Breakfast Foods">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Main Dishes">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Veggies and Sides">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Cakes">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Cookies and Bars">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Pies">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Other Desserts">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Snacks and Candy">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Miscellaneous">
  @for (card of recipes; track $index) {
  <app-recipe-card></app-recipe-card>
  }
</app-card-slider>
