@for (group of categorizedRecipes |async; track $index) {
<app-card-slider [title]="group.category">
  @for (recipe of group.recipes; track $index) {
  <app-recipe-card [recipe]="recipe"></app-recipe-card>
  } </app-card-slider
>}

<app-card-slider title="Foods 1">
  @for (card of recipes; track $index) {
  <app-recipe-card [recipe]="temp_recipe"></app-recipe-card>
  }
</app-card-slider>

<app-card-slider title="Foods 2">
  @for (card of recipes; track $index) {
  <app-recipe-card [recipe]="temp_recipe"></app-recipe-card>
  }
</app-card-slider>
